/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

h1 {
  color: black;
  font-family: var(--heading-font);
  font-weight: bold;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font);
  font-weight: normal;
  color: #272142;
  font-size: 16px;
  line-height: 1.7;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  margin: 0;
  padding: 160px 20px;
}

.hero p {
  font-family: var(--default-font);
  font-size: 36px;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-family: var(--default-font);
  font-size: 24px;
  line-height: 36px;
}

.btn-branding {
  font-family: var(--default-font);
  background: var(--branding-color);
  color: white;
  padding: 18px 30px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
}

.btn-branding-outline {
  font-family: var(--default-font);
  background: white;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  padding: 18px 30px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 27px;
}

.project-description {
  padding: 100px 60px;
}

.about {
  padding: 160px 20px;
}

.about-content {
  margin: 30px;
}

.about h1 {
  font-size: 64px;
  line-height: 85px;
}

.about h2 {
  font-size: 18px;
  line-height: 27px;
}

.about p {
  font-size: 16px;
  line-height: 30px;
}

.work {
  padding: 160px 20px;
}

.work h1 {
  font-size: 64px;
  font-family: var(--heading-font);
}

.work h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
}

.work p {
  font-size: 14px;
  text-align: center;
  opacity: 0.7;
}

@media (max-width: 960px) {
  .hero h1 {
    font-size: 64px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-content {
    text-align: center;
    padding: 0;
  }

  .about img {
    margin-top: 20px;
  }

  .work h1 {
    text-align: center;
    font-size: 48px;
  }

  .work h2 {
    font-size: 20px;
  }

  .work p {
    font-size: 11px;
  }
}
